* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.header {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.menuBar {
  margin-left: 25px;
}
.followtext {
  margin-right: 25px;
}
.banner {
  position: relative;
  margin: 60px;
}
.bannerImg {
  width: 100%;
}
.bannerText {
  position: absolute;
  left: 0;
  margin-top: 107px;
  margin-left: 111px;
  width: 500px;
}
.statistics {
  margin-top: 160px;
  margin-left: 200px;
}
.statistics-heading {
  display: flex;
}
.text-short {
  font-size: 16px;
  color: #ec2232;
  line-height: 18px;
}
.statistics h1 {
  font-size: 70px;
  color: #222222;
}
.statistics-details {
  margin-left: 40px;
  margin-top: 192px;
}
.statistics-value {
  display: flex;
  margin-top: 131px;
}
.stat-value-details {
  border-right: solid #c4c4c4;
  padding-right: 50px;
  padding-left: 70px;
}
#stat-value-details3 {
  border: none;
}
.statistics-value span {
  font-size: 90px;
  font-weight: 700;
}
.value-text {
  width: 200px;
}
